body {
  background: linear-gradient(135deg,#2bc0e4, #eaecc6);
}

.header-logo {
  float: left;
  height: 70px;
}

.header {
  position: relative;
}

.header title {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 10%;
  left: 0%;
  font-size: 70px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

li {
  font-family: "MS P明朝", "ヒラギノ明朝", "Times", serif;
  font-size: 20px;
  padding-right: 10px;
  padding-bottom: 30px;
  list-style: none;
  display: inline-block;
}

h1 {
  font-family: "MS P明朝", "ヒラギノ明朝", "Times", serif;
  padding-top: 10px;
  color: black;
  font-size: 40px;
}

.summer {
  position: relative;
}

.summer h2  {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 55%;
  left: 20%;
  font-size: 300px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.summer p {
  position: absolute;/*絶対配置*/
  color:#323F7D;/*文字は白に*/
  top: 50%;
  left: 50%;
  font-size: 40px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  
}

.summer img {
  width: 100%;
  }
  
h2 {
  font-family: "MS P明朝", "ヒラギノ明朝", "Times", serif;
  font-size: 100px;
}

h3 {
  font-family: "MS P明朝", "ヒラギノ明朝", "Times", serif;
  font-size: 40px;
}

p {
  font-family: "MS P明朝", "ヒラギノ明朝", "Times", serif;
  font-size: 20px;
}

.shikaku img {
  height: 120px;
}

.shokkaku img {
  height: 120px;
}

.kyukaku img {
  height: 120px;
}
